<html>

<head>

  <title>

  </title>
 
</head>

<body>
  <div class="main">
    <div class="header">
      <table class="table">
        <tr>
         
          <td class="head" colspan="5">ANGULAR ASSINGMENT</td>

        </tr>
        <tr>
          <td> <a [routerLink]="['table']">Labassingment1</a></td>
          <td><a [routerLink]="['form']">Labassingment2</a></td>
          <td><a href="#">Labassingment1</a></td>
          <td><a href="#">Labassingment1</a></td>
          <td><a href="#">Labassingment1</a></td>
        </tr>
      </table>
    </div>
    <div class="sub">
      
      <div class="subdiv">
        <span class=span> 
            <router-outlet></router-outlet>
        </span> </div>

    </div>
  </div>
</body>

</html>

