/* H1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.addData{
  margin-left: 15%;
  margin-top: 5%;
}

.updatediv{
  
  margin-top: 5%;
} */
table,th,td{
  margin-top:5%;
  border: solid 1px;
}